@{
  Layout = "_Layout";
}

@model Bakery.Models.Treat

@* The line above is a model directive - tells our view what type of data will be passed into the view from the controller route *@

<p>@Html.ActionLink("Show all treats", "Index")</p>

@* By default, BeginForm() sends an HTTP POST request to the current URL. This form will send a POST request to the Create() route. In HTML, it would look like this: <form action="/Treats/Create" method="post">*@
