@{
  Layout = "_Layout";
}

@using Bakery.Models;
@model List<Bakery.Models.Treat>;

<h1>Treats</h1>


<p>@Html.ActionLink("Add new treat", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>
